<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tyfo.app.model.message.mapper.MessageMapper">
    <!--通用映射-->
    <sql id="columns">
        a.id AS "id",
        a.message_type AS "messageType",
        a.message_id AS "messageId",
        a.status AS "status",
        a.create_date AS "createDate",
        a.update_date AS "updateDate",
        a.remarks AS "remarks",
        a.del_flag AS "delFlag",
        a.message_content AS "messageContent",
        a.result AS "result"
  </sql>
    <!--通用joins-->
    <sql id="joins">

    </sql>
    <!--通过ID查询-->
    <select id="get" resultType="message">
        SELECT
        <include refid="columns"/>
        FROM message a
        <include refid="joins"/>
        WHERE a.id = #{id}
    </select>
    <!--带分页的条件查询，可以在where进行逻辑判断-->
    <select id="findList" resultType="message">
        SELECT
        <include refid="columns"/>
        FROM message a
        <include refid="joins"/>
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
        </where>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
            </when>
            <otherwise>
                ORDER BY a.update_date DESC
            </otherwise>
        </choose>
    </select>
    <!--查询全部-->
    <select id="findAllList" resultType="message">
        SELECT
        <include refid="columns"/>
        FROM message a
        <include refid="joins"/>
        <where>
            a.del_flag = #{DEL_FLAG_NORMAL}
        </where>
        <choose>
            <when test="page !=null and page.orderBy != null and page.orderBy != ''">
                ORDER BY ${page.orderBy}
            </when>
            <otherwise>
                ORDER BY a.update_date DESC
            </otherwise>
        </choose>
    </select>
    <!--通用插入-->
    <insert id="insert">
      INSERT INTO message(
     message_id,
     message_type,
     status,
     create_date,
     update_date,
     remarks,
     del_flag,
     message_content,
     result
    ) VALUES (
     #{messageId},
     #{messageType},
     #{status},
     #{createDate},
     #{updateDate},
     #{remarks},
     #{delFlag},
     #{messageContent},
     #{result}
    )
  </insert>

    <insert id="batchInsert" parameterType="java.util.List">
        INSERT INTO message(
        message_id,
        message_type,
        status,
        create_date,
        update_date,
        remarks,
        del_flag,
        message_content,
        result
        ) VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.messageId},
            #{item.messageType},
            #{item.status},
            #{item.createDate},
            #{item.updateDate},
            #{item.remarks},
            #{item.delFlag},
            #{item.messageContent},
            #{item.result}
            )
        </foreach>
    </insert>

    <!--通用更新-->
    <update id="update">
      UPDATE message SET
        message_type = #{messageType},
        status = #{status},
        create_date = #{createDate},
        update_date = #{updateDate},
        remarks = #{remarks},
        del_flag = #{delFlag},
        message_content = #{messageContent},
        result = #{result}
    WHERE id = #{id}
  </update>
    <!--根据ID进行删除-->
    <update id="delete">
      UPDATE message SET
      del_flag = #{DEL_FLAG_DELETE}
      WHERE id = #{id}
  </update>
</mapper>