<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>乡村广播</title>
    <script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.3.2.js"></script>
</head>
<body>
授权失败===<span th:text="${msg}"></span>
<input type="hidden" name="code" id="code" th:value="${code}"/>
<input type="hidden" name="msg" id="msg" th:value="${msg}"/>
<!-- html -->
<script type="text/javascript">
    window.onload = loaded();

    function loaded() {
        var code = document.getElementById('code').value;
        var msg = document.getElementById('msg').value;
        console.log(code + ":" + msg);
        wx.miniProgram.reLaunch({url:'/pages/index/index'});
    }
</script>
</body>
</html>